.background-color-gray {
    background-color: #3C3C3C;
}

.background-color-orange {
    background-color: #FF9623;
}

.background-color-black {
    background-color: #232328;
}

.background-color-light-gray {
    background-color: #5A5A5A;
}

.background-color-red {
    background-color: #FF5050;
}

.background-color-yellow {
    background-color: #FFB437;
}

.background-color-green {
    background-color: #23C341;
}

.text-color {
    color: #FDFDFD;
}