@import "./page/layout.css";
@import "./shared/color.css";
@import "./shared/border.css";
@import "./shared//animation.css";

* {
    box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   margin: 0;
   padding: 0;
}